body {
    font-family: sans-serif;
}

#logo {
    max-width: 10%;
    padding: 0 0 0 35px;
}

.Copyright {
    color: white;
    background-color: #4B0082;
    padding: 10px;
}

.Copyright2 {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main {
    background-color: lightgray;
    max-width: 75%;
    margin: auto;
    padding: 35px 0 0 0;
}

.Title {
    color: #404040;
    font-size: 36px;
}

.Info {
    padding: 20px 0 20px 0px;
}

.Info2 {
    padding: 20px 0 20px 40px;
}

.header {
    border: black solid;
    border-width: 0 0 4px 0;
}

.nav {
    border: solid rgb(75, 0, 130);
    border-width: 0 0 4px 0;
    padding: 10px 0 10px 55px;
    font-size: 36px;
    color: #404040;
}

.tbl {
    border: 1px solid black;
    max-width: 80%;
    margin: auto;
}

.money {
    float: right;
}



