<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" th:href="@{../css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div>
    <form autocomplete="off" action="#" th:action="@{/addCustomer}"
          th:object="${user}" method="post" role="form">
        <h2 class="sr-only">Login Form</h2>
        <div class="form-group">
            <input type="text" id="firstField" th:field="*{firstname}" placeholder="First Name" class="form-control"/>
            <label th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="validation-message"></label>
        </div>
        <div class="form-group">
            <input type="text" id="lastField" th:field="*{lastname}" placeholder="Last Name" class="form-control"/>
            <label th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="validation-message"></label>
        </div>
        <div class="form-group">
            <input type="email" id="phoneField" th:field="*{email}" placeholder=Email class="form-control"/>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
        </div>
        <div class="form-group">
            <input type="text" id="userName" th:field="*{username}" placeholder="User Name" class="form-control"/>
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}"
                   placeholder="Password" class="form-control"/>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" name="Submit" type="Submit">Add Frog</button>
        </div>
    </form>
</div>
