<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" th:href="@{../css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Assign SuperFrog</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div>
    <div th:if="${error == null}">
        <form method="POST" th:action="@{/selfSignUp/{requestId}/{superId}(requestId=${request.getId()}, superId=${superFrog.getId()})}">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Signup For Request</button>
            </div>
        </form>
    </div>
    <div th:if="${error != null}">
        <p th:text="${error}"></p>
    </div>
</div>
